<div style="text-align: left; font-size: 24px; font-weight: bold;"><a style="text-decoration: none; color: black;" href="https://www.nature-recovery-network.org/"> <img style="width: auto; height: 76px; border: none; text-decoration: none; color: #ffffff;" src="https://www.nature-recovery-network.org/files/135/" alt="Logo" /> </a> <a style="text-decoration: none; color: black; vertical-align: bottom;" href="https://www.nature-recovery-network.org/"> Nature Recovery Network </a> <br />
<div style="display: inline; font-weight: normal; font-size: 75%;">A Network of People working for Nature Recovery</div>
<br /><br /></div>
<div style=""></div>
<div style=""></div>
<div style=""></div>
<div style=""></div>